<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intitial-scale=1.0">
        <tittle>Document</tittle>

    </head>
    <body>
        <h3>single user detail</h3>
        <h4><%= user.name %></h4>
        <p><%= user.email %></p>
        <p><%= user.age %></p>
        
        <a href="/users/<%= user.id %>/edit">Edit</a>
        <a href="/users/<%= user.id %>/delete">Delete</a>
    </body>
</html>